[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
reportlab = "*"
ebooklib = "*"

[dev-packages]
streamlit = "*"
requests = "*"
pillow = "*"
ebooklib = "*"
reportlab = "*"

[requires]
python_version = "3.13"
