streamlit
requests
pillow
reportlab
ebooklib
torch = {version = "==2.0.1", index = "https://download.pytorch.org/whl/cpu"}
torchvision = {version = "==0.15.2", index = "https://download.pytorch.org/whl/cpu"}
